.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.hello.sh.swp
.landscape/
.lesshst
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
artists_who_can_sing/
fufufafa/
plsrunmeiamnotmalwarefr
ransom.moolah
singing_tutorials/
tutorials.zip
